<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nickle.scheduler.server.mapper.NickleSchedulerTriggerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nickle.scheduler.server.entity.NickleSchedulerTrigger">
        <id column="trigger_id" property="triggerId" />
        <result column="trigger_name" property="triggerName" />
        <result column="trigger_cron" property="triggerCron" />
        <result column="trigger_next_time" property="triggerNextTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        trigger_id, trigger_name, trigger_cron, trigger_next_time
    </sql>

</mapper>
